@model WebApp.Models.Menu.Menu

@{
    ViewBag.Title = "メニュー登録";
}

<!-- Main Content -->
<div class="container mb-auto">
    <p class="h1">
        @ViewBag.Title
    </p>
    <div class="card" style="border: none;">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-controller="Menu" asp-action="Edit" method="post">
                <div class="form-group">
                    <p class="h4">ID</p>
                    <input type="text" class="form-control" name="MenuId" placeholder="IDを入力してください。" value="@(Model.MenuId)" />
                </div>
                <div class="form-group">
                    <p class="h4">説明</p>
                    <textarea name="MenuDescription" rows="3" class="form-control">@(Model.Description)</textarea>
                </div>
                <div class="form-group">
                    <p class="h4">単位</p>
                    <select asp-for="Unit" asp-items="Model.Units" class="form-control" name="MenuUnit">
                    </select>
                </div>
                <div class="form-group">
                    <p class="h4">音声ファイル</p>
                    <div class="my-1">
                        <div class="item-columns-header border-bottom border-light-2">
                            <div class="row my-1">
                                <div class="col-8 col-lg-6">
                                    音声ファイル
                                </div>
                                <div class="col-4 col-lg-">
                                    説明
                                </div>
                            </div>
                        </div>
                        <div class="item-columns-body mb-3">
                            @for (var i = 0; i < Model.AudioFiles.Count; i++)
                            {
                                <div class="row my-1">
                                    <div class="col-8 col-lg-6">
                                        <div class="custom-file">
                                            <input name="formFile" type="file" class="custom-file-input" value="@(Model.AudioFiles[i].FileName)" id="inputGroupFile@($"{(i+1):00}")">
                                            <label class="custom-file-label" for="inputGroupFile@($"{(i+1):00}")">
                                            @(String.IsNullOrEmpty(Model.AudioFiles[i].FileName) ? "Choose file": Model.AudioFiles[i].FileName)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <textarea name="AudioFileDescription@($"{(i+1):00}")" rows="3" class="form-control form-control-sm">@(Model.AudioFiles[i].Description)</textarea>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <input type="submit" value="メニュー登録" class="btn btn-primary btn-lg" name="confirm" @(String.IsNullOrEmpty(Model.MenuId)?"":"disabled") />
            </form>
        </div>
    </div>
</div>

<script>
    $('#inputGroupFile01').on('change', function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    })

    $('#inputGroupFile02').on('change', function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    })

    $('#inputGroupFile03').on('change', function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    })
</script>