@model IList<WebApp.Models.Practice>

@{
    ViewBag.Title = "練習履歴";
}

<!-- Main Content -->
<main>
    <div class="container mb-auto">
        <p class="h1">
            @ViewBag.Title
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">実施日</th>
                    <th scope="col">メニューID</th>
                    <th scope="col">メニュー説明</th>
                    <th scope="col">実施量</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var practice in Model)
                {
                    <tr>
                        <td>
                            @practice.DateTimeOfImplementation.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @practice.MenuId
                        </td>
                        <td>
                            @practice.Description
                        </td>
                        <td>
                            @practice.ValueOfUnit @practice.Unit
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>